workspace.xml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
"C:\\Users\\anthony\\IdeaProjects\\MiniPython2\\src/"
"C:\\Users\\anthony\\IdeaProjects\\MiniPython\\src/"

/out/
/prueba.txt
